<div class="container-fluid" ng-init="$ctrl.isIt=true;">

	<div class="row" style="background:#343A40">
		<div class="col-sm-12">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<a class="navbar-brand" href="#">Noted!</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" ng-click="$ctrl.isIt=!$ctrl.isIt">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="navbar-collapse" ng-class="{'collapse': $ctrl.isIt}" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link"  ui-sref-active="active"
							ui-sref="app.notes">Notes <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link"  ui-sref-active="active"
							ui-sref="app.categories">Categories</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>

</div>